# PyPhisher Version 2.0
# Daniel Bloom - Daniel@bcdefense.com | Daniel_Bloom@fanniemae.com
# Twitter: @bcdannyboy

# SMTP Server
#   Example: smtp.myserver.com:<port>
#   Default port is 25 (other typical options: 587, 465)
SMTP=smtp.myserver.com:587

# SMTP Username and Password
#   Example: Username:Password
SMTPCredentials=username:password

# Require TLS
#   Example: TRUE/FALSE
RequireTLS=TRUE

# Path to /www file for tracker gifs
#   Format: <PATH>:<DOMAIN>,<PATH2>:<DOMAIN2>,etc.
#   Example: /path/to/www:domain1.com,/path/to/www:domain2.org,/path/to/www:domain3.net
WWWPath=/path/to/www:domain1.com

# Output Path
#   Example: /path/to/file.csv
OutPath=PyPhisherOutput.csv

# Log Path
#   Example: /path/to/file.csv
LogPath=PyPhisherlog.csv

# Web Server Log File Path
#   Example: /path/to/webserver.log
WebServerLog=/path/to/webserver.log

# Tracking Time (in minutes)
#   Example: 10
TrackTime=60
